.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #ffffff url("https://pbs.twimg.com/media/DUQBXtsVwAAYn4L.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-top: solid black;
}
